$color-header-border: rgb(233, 233, 233);
$height-header: 80px;
$height-header-items: 50px;

$width-nav: 200px;
$width-dashboard: 50%;
$width-search-percent: 80%;
$width-dashboard-search: 250px;
$width-dashboard-account: 250px;

$height-width-bar-img: 40px;
$height-search-percent: 40%;

$boder-radius-input: 30px;
$boder-radius-account: 30px;
$boder-radius-listroom-form: 3px;
$boder-radius-listroom-form-cost: 2px;
$boder-sign-in-network-item:  rgb(192, 191, 191);

$box-shadow: 0px 6px 6px 0px gray;
$box-shadow-bar-img: 0px 0px 6px 2px gray;
$box-shadow-sign: 0px 0px 10px 0px gray;

$font-size-account-name-text: 15px;
$font-size-input: 22px;
$font-size-notification: 25px;
$font-size-notification-hover: 30px;
$font-size-resetAll: 20px;
$font-size-dashboard-name: 35px;
$font-size-dashboard-job-text: 15px;
$font-size-nav-list-item: 15px;

$background-color-input: #fff;
$background-color-nav: rgb(32, 32, 32);
$background-color-nav-item-hover: #eacfcf;
$background-color-nav-item:#565656;
$background-color-check-r: #f86464;
$background-color-check-g: #73dc8a;
$background-color-sign-in: #ffffff;
$background-color-sign-up: #3d3d3d;
$background-color-sign: #eee6e6;
$background-color-sign-in-input: #e9e6e6;
$background-color-sign-button-hover: #6e6e6e;
$background-color-tool-first: #a2a1a1;
$background-color-tool-second: #747272;
$background-color-tool-third: #3f3e3e;
$background-color-form-tool: #fff5f5;
$background-color-content-listroom: #F4F7FC;
$background-color-content-listroom-2: #fff;
$background-color-content-listroom-search-input: #ebebeb;

$padding-listroom-form: 15px;
$padding-account-nav-item: 15px;
$margin-account-nav-item: 4px;

$gap-dashboard: 20px;
$gap-nav-list-item: 10px;

$width-percent-content-listroom-form: 65%;
$width-percent-content-listroom-check: 85%;

